In [13]:
import pandas as pd
import numpy as np
import json
import joblib

In [14]:
with open('pred_rfc1.pkl','rb') as file_1:
  all_process_forest = joblib.load(file_1)

`creating new variable from example of data train`

In [17]:
data_inf = pd.DataFrame({
    'Temperature': [18.152, 43.480, 20.322, 26.716, 67.367],
    'Humidity': [53.50, 18.33, 50.04, 48.24, 69.00],
    'TVOC': [1193, 975, 1114, 843, 985],
    'eCO2': [400, 420, 420, 400, 410],
    'Raw_H2': [12963, 13295, 13115, 12670, 13430],
    'Raw_Ethanol': [19387, 18670, 20210, 19570, 19680],
    'Pressure': [938.737, 933.986, 938.820, 938.909, 939.592]
})
data_inf

   Temperature  Humidity  TVOC  eCO2  Raw_H2  Raw_Ethanol  Pressure
0       18.152     53.50  1193   400   12963        19387   938.737
1       43.480     18.33   975   420   13295        18670   933.986
2       20.322     50.04  1114   420   13115        20210   938.820
3       26.716     48.24   843   400   12670        19570   938.909
4       67.367     69.00   985   410   13430        19680   939.592

In [18]:
all_process_forest_result = all_process_forest.predict(data_inf)

In [19]:
data_inf['predict_forest'] = all_process_forest_result

In [20]:
data_inf

,Temperature,Humidity,TVOC,eCO2,Raw_H2,Raw_Ethanol,Pressure,predict_forest
0,18.152,53.50,1193,400,12963,19387,938.737,1
1,43.480,18.33,975,420,13295,18670,933.986,1
2,20.322,50.04,1114,420,13115,20210,938.820,1
3,26.716,48.24,843,400,12670,19570,938.909,1
4,67.367,69.00,985,410,13430,19680,939.592,1

`from prediction obove, the Random Forest predict the fire alarm will rang`